{%  if mode == 'components' %}
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {% for c in components.components %}
    <tr class="{{ 'selected' if c['id'] == components.selected  }}">
      <td>{{ c['id'] }}</td>
      <td>{{ c['name'] }}</td>
      <td>{{ c['description'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{%  if mode == 'issues' %}
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
  {% for c in issues.issues %}
    <tr class="{{ 'selected' if c['id'] == issues.selected  }}">
      <td>{{ c['id'] }}</td>
      <td>{{ c['title'] }}</td>
      <td>{{ c['status'] }}</td>
      <td>{{ c['priority'] }}</td>
      <td>{{ c['assignee'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
