<!DOCTYPE html>

<div class="disclaimer-text">
<h1>{{ _('Disclaimer') }}</h1>
<p>
Your personal data will be processed by Swiss International Air Lines Ltd. acting as data controller in accordance with applicable data protection laws.
<p/>
<p>
Our AI chatbot “Heidi” available on Heidi.swiss.com is developed in collaboration with Google. When you ask Heidi a question, it is sent for storage to Heidi's servers running on Google Cloud Platform in Europe. Heidi's software combines its knowledge of the Swiss flight network with the power of Google's LLMs language models in conjunction with other services, such as the Places API to draft an answer to your question.
<p/>
<p>
We collect your personal data for the purposes of providing the chatbot service, specifically to provide recommendations on restaurants, itinerary or other travel advice. The data attributes processed are for example your travel preferences, food preferences, IP addresses and logs for the purpose of providing the desired travel advice, for the maintenance and technical troubleshooting of Heidi and for quality improvement. We can recognize certain patterns in your chat history that will allow us to improve Heidi’s ability to answer your questions. These patterns can include the topics, preferences and interests that emerge from your chat history.
<p/>
<p>
Since you can ask Heidi any travel related questions and enter any data including your personal data in the chatbot, please note that your identity may be inferred based on the information inserted by you in the chatbot. Therefore, please refrain from inserting any identifiable information about you in the chatbot. We delete your data transmitted via Heidi after 24 hours.
<p/>
<p>
We disclose your personal data to our service provider Google Cloud EMEA Limited located in Ireland with their service teams located globally. We only transfer your personal data abroad to third countries with inadequate data protection standards, based on appropriate safeguards (e.g. standard contractual clauses adopted by the European Commission) provided by applicable law.
<p/>
<p>
Please note that Heidi is a minimum viable product in an early development phase. Although Heidi can answer many questions correctly, she can occasionally give answers that are incorrect or imprecisely worded. Consequently, the answers Heidi gives with the help of the AI technology are not legally binding. This means no warranty is given or liability assumed as to the accuracy, completeness or currency of the information provided. Use of Heidi is at the user’s own risk.
<p/>
<p>
Heidi is protected by intellectual property rights, including copyright. Copies, modifications or dissemination of the chatbot is not permitted without the express approval of the rights holder.
<p/>
<p>
Actions such as harassment, defamation, or violation of others’ rights through the use of the chatbot are prohibited, and any infringement of these rules could result in penalties or prosecution.
<p/>
<p>
If you have further questions on how we process your personal data, please see the SWISS data protection notice <a href="https://www.swiss.com/content/lx/markets/ch/en/terms-conditions/privacy-statement" target="_blank">[Data Protection Notice | SWISS]</a>
<p/>
</div>
