<span id="metadata-invalid-query">{{_("Sorry, I cannot help you with that.")}}</span>
<span id="metadata-query-error">{{_("Sorry, an unexpected error ocurred. Please try again.")}}</span>
<span id="metadata-cities-not-found">{{_("I could not find matching destinations, try a different query.")}}</span>
<span id="metadata-origin-query">{{_("I am traveling from ${origin}")}}</span>
<span id="metadata-month-query">{{_("I would like to travel between the months of ${minMonth} and ${maxMonth}")}}</span>
<span id="metadata-remove-preference-query">{{_("Remove preference ${preference}")}}</span>
<span id="metadata-remove-region-query">{{_("Do not filter regions by ${region}")}}</span>
<span id="metadata-placeholder-follow-up">{{_("You can keep narrowing down your search, or change something. For example you can say 'I also like museums', or 'Actually, I would like to travel to north america'")}}</span>
<span id="metadata-send-button-follow-up">{{_("Modify Suggestions")}}</span>
<span id="mdiq-default">{{_("Show me popular destinations.")}}</span>
<span id="mdiq-scandinavia">{{_("Show me popular destinations in Scandinavia")}}</span>
<span id="mdiq-nordics">{{_("Show me destinations in nordic countries")}}</span>

