<link
  type="text/css"
  rel="stylesheet"
  href="static/swiss-style.css?version={{ app_version }}"
/>

<!-- This block contains the JS data fed by the backend. -->
<script type="text/javascript">
  const SUMMARY_BACKEND = "{{ summary_backend_address }}"
  const CARDS_BACKEND = "{{ cards_backend_address }}"

  {% if response_json %}
    data = {{ response_json|safe }};
  {% else %}
    data = {};
  {% endif %}

  onCityClicked = function(el) {
    console.log(el.querySelector('.city-name').textContent);
  }
</script>

<script src="static/swiss.js" type="text/javascript"></script>

{% if preferences %}
<div>
  <label for="origin-select">You are traveling from</label>
  <select id="origin-select" onchange="originChanged();">
    <option value="Zurich"
            {% if origin == 'Zurich' %} selected="true" {% endif %}>
      Zurich
    </option>
    <option value="Geneva"
            {% if origin == 'Geneva' %} selected="true" {% endif %}>
      Geneva
    </option>
  </select>.
  I looked for the following preferences:
  {% for p in preferences %}
  <div class="preference">
    <span class="preference-text">{{ p }}</span>
    <span
      class="preference-cancel"
      onclick="sendQuery('Remove preference {{ p }}')">
      &#215;
    </span>
  </div>
  {% endfor %}
</div>
{% endif %} {% if error %}
<p>{{ error }}</p>
{% endif %} {% if cities %}
<ul>
  {% for c in cities %}
  <li onclick="onCityClicked(this);">
    <img
      class="plane-favicon"
      src="static/plane.png"
      ,
      style="width: 20px; height: auto"
    />
    <div class="city-name">{{ c.name }}</div>
    <img class="city-image" src="{{ c.image }}" />
    <div id="{{ 'city-' + c['id']|string }}" class="city-detail">
      <div id="{{ 'spinner-' + c['id']|string }}">Loading details...</div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
